/* BASICS ---------------- */
body {
  background-color: #b5ddec;
  font-family: 'Trebuchet MS', 'DejaVu Sans', 'Bitstream Vera Sans', sans-serif;
  font-size: 14px;
}

a {
  color: #eb8800;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #C87400;
}

a:focus {
  outline-color: rgb(0, 0, 0);
  outline-color: rgba(0, 0, 0, 0.6);
}

input[type="text"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  border: 1px solid #999;
  background-color: #e5e5e5;
  border-radius: 1px;
  color: #666666;
  padding: 8px 10px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: 0;
  background-color: #efefef;
}

.form-type-radio {
  margin-top: 0.3em;
}

.form-type-radio:first-child {
  margin-top: 0;
}

.form-type-radio * {
  display: inline;
  vertical-align: middle;
}

.back-button a,
.field-type-link-field a,
.quiz-start a,
.system-tabs a,
.links a,
.button,
input[type="submit"],
button {
  outline: 0;
  border-radius: 5px;
  border: 0;
  display: inline-block;
  color: #fff;
  padding: 8px 10px;
  font-weight: 700;
  background: rgb(239,173,73); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(239,173,73,1) 0%, rgba(239,173,73,1) 50%, rgba(235,152,28,1) 51%, rgba(235,152,28,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,173,73,1)), color-stop(50%,rgba(239,173,73,1)), color-stop(51%,rgba(235,152,28,1)), color-stop(100%,rgba(235,152,28,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efad49', endColorstr='#eb981c',GradientType=0 ); /* IE6-9 */
}

.back-button a:hover,
.back-button a:focus,
.field-type-link-field a:hover,
.field-type-link-field a:focus,
.quiz-start a:focus,
.quiz-start a:hover,
.system-tabs a:focus,
.system-tabs a:hover,
.links a:focus,
.links a:hover,
.button:focus,
.button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
button:focus,
button:hover {
  color: #fff;
  text-decoration: none;
  background: rgb(237,164,54); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(237,164,54,1) 0%, rgba(237,164,54,1) 50%, rgba(234,143,16,1) 51%, rgba(234,143,16,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,164,54,1)), color-stop(50%,rgba(237,164,54,1)), color-stop(51%,rgba(234,143,16,1)), color-stop(100%,rgba(234,143,16,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eda436', endColorstr='#ea8f10',GradientType=0 ); /* IE6-9 */
}

.back-button a:active,
.field-type-link-field a:active,
.quiz-start a:active,
.system-tabs a:active,
.links a:active,
.button:active,
input[type="submit"]:active,
button:active {
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.back-button a,
.field-type-link-field a,
.quiz-start a,
.button-big {
  font-size: 1.6em;
  padding: 16px 20px;
  border-radius: 8px;
}

[disabled] {
  opacity: 0.7;
}

::-moz-selection {
  background: #b3d4fc;
  background: rgba(0, 0, 0, 0.2);
}

::selection {
  background: #b3d4fc;
  background: rgba(0, 0, 0, 0.2);
}


/* REUSABLES ---------------- */
.title {
  font-size: 40px;
  font-weight: 700;
}

.title a {
  color: inherit;
}

.title a:hover {
  color: #C87400;
}

label,
.title.sub-title {
  font-size: 20px;
  font-weight: 700;
  display: block;
}

.metadata {
  opacity: 0.6;
  line-height: 1.3em;
}

.box {
  border: 1px solid #69b1ce;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.box > .title:first-child {
  margin: -20px -20px 20px -20px !important;
  color: #fff;
  background: #69b1ce;
  text-align: center;
  padding: 10px 20px;
}

.box.passed,
.box.correct {
  border-color: #86ba75;
}

.box.passed > .title:first-child,
.box.correct > .title:first-child {
  background: #86ba75;
}

.box.failed,
.box.wrong {
  border-color: #f55555;
}

.box.failed > .title:first-child,
.box.wrong > .title:first-child {
  background: #f55555;
}

.indented {
  margin-left: 20px;
}


/* HEADER ---------------- */
.header .site-name,
.header .site-slogan {
  display: inline-block;
  vertical-align: middle;
}

.header .site-name {
  margin-right: 20px;
}

.header .site-slogan {
  font-size: 40px;
  color: #C1C1C1;
}

.header .nav {
  position: relative;
}

.header .nav .menu {
  font-size: 0px;
}

.header .nav a,
.header .nav li {
  display: inline-block;
  font-size: 14px;
}

.header .nav a {
  padding: 15px 20px;
  font-weight: 700;
}

.header .nav > .menu {
  background: rgb(239,173,73); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(239,173,73,1) 0%, rgba(239,173,73,1) 50%, rgba(235,152,28,1) 51%, rgba(235,152,28,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,173,73,1)), color-stop(50%,rgba(239,173,73,1)), color-stop(51%,rgba(235,152,28,1)), color-stop(100%,rgba(235,152,28,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(239,173,73,1) 0%,rgba(239,173,73,1) 50%,rgba(235,152,28,1) 51%,rgba(235,152,28,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efad49', endColorstr='#eb981c',GradientType=0 ); /* IE6-9 */
  margin: -20px;
  margin-top: 20px;
}

.header .nav > .menu > li > a {
  color: #fff;
}

.header .nav .menu a:focus,
.header .nav .menu a:hover {
  outline: 0;
  background: rgb(237,164,54); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(237,164,54,1) 0%, rgba(237,164,54,1) 50%, rgba(234,143,16,1) 51%, rgba(234,143,16,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,164,54,1)), color-stop(50%,rgba(237,164,54,1)), color-stop(51%,rgba(234,143,16,1)), color-stop(100%,rgba(234,143,16,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(237,164,54,1) 0%,rgba(237,164,54,1) 50%,rgba(234,143,16,1) 51%,rgba(234,143,16,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eda436', endColorstr='#ea8f10',GradientType=0 ); /* IE6-9 */
}

.header .nav .menu a:active {
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.header .nav > .menu .menu {
  display: none;
}

.header .nav a.display-mobile-menu {
  display: none;
  margin-top: 10px;
  color: #787878;
  background: transparent url('../img/menu-bars.png') 20px center no-repeat;
  padding: 20px 20px 20px 40px;
  margin-right: auto;
  margin-left: auto;
}

.header .nav a.display-mobile-menu:hover,
.header .nav a.display-mobile-menu:focus {
  background-color: rgba(0,0,0,0.05);
}


/* MAIN CONTENT ---------------- */
.stat-block,
.system-tabs,
.messages,
.header,
.main-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1.title + .node {
  margin-top: 20px;
}

.legible .links {
  margin-left: 0;
  padding-left: 0;
}

.pager li,
.system-tabs li,
.links li {
  display: inline-block;
}

.pager {
  font-weight: 700;
}

.new {
  display: inline-block;
  color: #fff;
  padding: 5px 8px;
}

/* Correct your quiz page */
#questions {
  margin-top: 20px;
}

.question-content .legible ol {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.question-content .legible ol li {
  padding-left: 24px;
}

.question-content .legible ol .wrong,
.question-content .legible ol .correct {
  background: transparent url('../img/check-wrong.png') left center no-repeat;
}

.question-content .legible ol .correct {
  background-image: url('../img/check-correct.png');
}

/* Quiz round results */
.field-name-quiz-result {
  text-align: center;
}

.field-name-quiz-result p {
  display: inline-block;
  background: transparent url('../img/star-green.png') center center no-repeat;
  width: 83px;
  height: 99px;
  line-height: 86px;
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.failed .field-name-quiz-result p {
  background-image: url('../img/star-red.png');
}

.node-quiz-round .field-name-field-score-text {
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.node-quiz-round .field-type-link-field {
  text-align: center;
}

/* Quiz form */
#quiz-wizard-wrapper label[for="edit-answer"] {
  display: none;
}

/* Links */
.operations,
.operations li {
  margin-left: 0 !important;
  padding-left: 0 !important;
  list-style: none;
}

.operations li {
  display: inline-block !important;
  margin-top: 0 !important;
}

/* Statistics boxes */
.stat-block {
  padding-left: 120px;
  background: #b5ddec url('../img/stat-participants.png') 20px center no-repeat;
  color: #22637d;
}

.stat-block.stat-block-average {
  background-image: url('../img/stat-average.png');
  background-position: 25px center;
}

.stat-block > * {
  display: inline-block !important;
  vertical-align: middle;
}

.stat-block .stat {
  border-left: 1px solid #69b1ce;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 60px;
  font-weight: 700;
}